header {
  margin-bottom: 15%;
}

main .cont-h1 h1 {
  color: rgb(243, 130, 130);
  width: 80%;
  font-size: 2.5em;
}
main .busqueda {
  width: 100%;
  display: flex;
  justify-content: center;
}
main .busqueda form {
  width: 80%;
  height: auto;
  border: solid 2px black;
  padding: 10px;
}
main .busqueda form .bg-dropdown {
  background-color: black;
  color: rgb(248, 151, 151);
  width: 35%;
}
main .render-Productos {
  width: 100%;
  height: auto;
}
main footer {
  width: 100%;
  height: 100%;
  background-color: rgb(243, 130, 130);
  display: flex;
  flex-wrap: wrap;
}
main footer .container-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
main footer .container-wrap svg {
  width: 50px;
  height: 50px;
  margin-top: 10px;
}
main footer .container-wrap .svg-fb {
  color: black;
  padding: 8px 8px;
}
main footer .container-wrap .svg-fb:hover {
  color: white;
}
main footer .container-wrap .svg-insta {
  color: black;
  padding: 8px 8px;
}
main footer .container-wrap .svg-insta:hover {
  color: white;
}
main footer .container-wrap .svg-twitter {
  padding: 8px 8px;
  color: black;
}
main footer .container-wrap .svg-twitter:hover {
  color: white;
}
main footer .container-wrap .css-text {
  display: flex;
  color: white-;
  font-size: 1.2em;
  justify-content: center;
  text-align: center;
}
main .bg-card {
  border-radius: 7px;
}
main .bg-card .bg-btn-render {
  background-color: rgb(243, 130, 130);
}
main section article .css-card:hover {
  transform: scale(1.08);
  transition: all 1s;
  cursor: pointer;
  margin: 20px;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.5);
}
main section article .css-card img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 100%;
  border: solid 1px black;
  object-fit: contain;
}

.navegador {
  padding: 0;
  margin-bottom: 15%;
}
.navegador .container-fluid {
  background-color: black;
}
.navegador .container-fluid .contenedor-nav {
  display: flex;
  align-items: center;
  background-color: black;
}
.navegador .container-fluid .contenedor-nav img {
  width: 30%;
  height: 30%;
}
.navegador .container-fluid .contenedor-nav .bg-css {
  background-color: black;
}
.navegador .container-fluid .contenedor-nav h5 p {
  color: rgb(248, 151, 151);
  text-align: center;
}
.navegador .container-fluid .contenedor-nav .bord {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 10px black;
}
.navegador .container-fluid .contenedor-nav .bord .cont .btn {
  background-color: black;
  color: rgb(248, 151, 151);
}
.navegador .container-fluid .contenedor-nav .bord .cont .btn svg {
  height: auto;
}
.navegador .container-fluid .contenedor-nav .bord .cont a img {
  width: 27%;
  height: auto;
  border-radius: 10px;
  border-color: black;
}
.navegador .container-fluid .contenedor-nav .gian {
  height: auto;
  width: 100;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.navegador .container-fluid .contenedor-nav .gian .contactanos {
  background-color: black;
  color: rgb(248, 151, 151);
  border-radius: 5px;
  width: 100%;
}
.navegador .container-fluid .contenedor-nav .gian .container-svg {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.navegador .container-fluid .contenedor-nav .gian .container-svg .color-insta {
  color: violet;
}
.navegador .container-fluid .contenedor-nav .gian .container-svg .color-wsp {
  color: rgb(88, 250, 102);
}
.navegador .container-fluid .contenedor-nav .gian .container-svg .color-fb {
  color: rgb(27, 24, 216);
}

/*# sourceMappingURL=main.css.map */
