header{
    margin-bottom: 15%;
}

main{
    .cont-h1{
        h1{
            color: rgb(243, 130, 130);
            width: 80%;
            font-size: 2.5em;
        }
    }
    .busqueda{
        width: 100%;
        display: flex;
        justify-content: center;
        form{
            width: 80%;
            height: auto;
            border-radius: 10px;
            padding: 10px;
            background-color:black ;
            .bg-dropdown{
                background-color: rgb(243, 130, 130) ;
                color:white;
                width: 35%;
            }
        }
    }
    .render-Productos{
        width: 100%;
        height: auto;
    }
    footer{
        width: 100%;
        height: 100%;
        background-color: black;
        display: flex;
        flex-wrap: wrap;
        .container-wrap{
            width: 100%;
            display: flex;
            justify-content: center;
            svg{
                width: 50px;
                height: 50px;
                margin-top: 10px;
            }
            .svg-fb{
                color:rgb(243, 130, 130);
                padding: 8px 8px;
                
                &:hover{
                    color: white;
                }
            }
            .svg-insta{
                color:rgb(243, 130, 130);
                padding: 8px 8px;
                &:hover{
                    color: white;
                }
            }
            .svg-twitter{
                padding: 8px 8px;
                color:rgb(243, 130, 130);
                &:hover{
                    color: white;
                }
            }
            .css-text{
                display: flex;
                font-size: 1.2em;
                justify-content: center;
                text-align: center;
                color: white;
            }
        }
    }
    .bg-card{
        border-radius: 7px;
        .bg-btn-render{
            background-color:  rgb(243, 130, 130);
        }
    }
    section{
        article{
            .css-infoViaje{
                background-color: black;
                color:  rgb(243, 130, 130);
                border-radius: 5px;
            }
            .css-card{
                &:hover{
                    transform: scale(1.08);
                    transition: all 1s;
                    cursor: pointer;
                    margin: 20px;
                    box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.5)
                }
                img{
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                    height: 100%;
                    border: solid 1px black;
                    object-fit: contain;
                }
            }
        }
    }
    .btn-contratar{
        background-color:  rgb(243, 130, 130);
        &:hover{
            background-color: black;
            color: rgb(243, 130, 130);
            border: solid 1px white;
            transform:scale(1.1);
            transition: 1s;
        }
    }
    .bg-viajeElegido{
        background-color: rgb(253, 191, 191);
        border-radius: 5px;
       
        p{
            color: black;
            border: solid 2px black;
        }   
    }
    .cont-Viaje{
       
        form{
            width: 80%;
            background-color: black;
            border-radius: 5px;
            .text-color{
                color: rgb(243, 130, 130);
            }
            .edad{
                p{
                    background-color: white;
                    color: black;
                    font-size: 1em;
                }
            }
        }
    }

    .contenedorBoleto{
        
        
        .bg-boleto{
            background-color: black;
            border: solid 4px black;
            .borde-superior{
               
                h3{
                    color: white;
                }
                .text-p{
                    color: white;
                }
            }
            .borde-slogan{
                background-color: rgb(243, 130, 130);
                color: black;
                font-size: 1em;
            }
            .contenedorDatos{
                border: solid 2px white;
                .datos-pasajeros{
                    
                    ul{
                        li{
                            list-style: none;
                            color: white;
                        }
                    }
                }
                .css-white{
                    color: white;
                }
            }
           
        }
        
        
    }
    
}





