header{
    margin-bottom: 15%;
}

main{
    .cont-h1{
        h1{
            color: rgb(243, 130, 130);
            width: 80%;
            font-size: 2.5em;
        }
    }
   
    .busqueda{
        width: 100%;
        display: flex;
        justify-content: center;
        
        form{
            width: 80%;
            height: auto;
            border: solid 2px black;
            padding: 10px;
            .bg-dropdown{
                background-color: black ;
                color:rgb(248, 151, 151);
                width: 35%;
            }
        }
    }
       
    .render-Productos{
        width: 100%;
        height: auto;
            
    }
    
    footer{
        width: 100%;
        height: 100%;
        background-color:  rgb(243, 130, 130);
        display: flex;
        flex-wrap: wrap;
        .container-wrap{
            width: 100%;
            display: flex;
            justify-content: center;
            svg{
                width: 50px;
                height: 50px;
                margin-top: 10px;
            }
            .svg-fb{
                color:black;
                padding: 8px 8px;
                
                &:hover{
                    color: white;
                }
            }
            .svg-insta{
                color:black;
                padding: 8px 8px;
                &:hover{
                    color: white;
                }
            }
            .svg-twitter{
                padding: 8px 8px;
                color:black;
                &:hover{
                    color: white;
                }
            }
            .css-text{
                display: flex;
                color:white-;
                font-size: 1.2em;
                justify-content: center;
                text-align: center;
            }
        }
    }
    .bg-card{
    border-radius: 7px;
        .bg-btn-render{
            background-color:  rgb(243, 130, 130);
        }
    }
    section{
        article{
            .css-card{
              
            
                &:hover{
                    transform: scale(1.08);
                    transition: all 1s;
                    cursor: pointer;
                    margin: 20px;
                }
                img{
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                    height: 100%;
                    border: solid 1px black;
                    object-fit: contain;
                }
                
            }
        }
    }
}





