*{
    font-family: 'Belanosima', sans-serif;
    font-family: 'Roboto Slab', serif;
}
header{
    margin-bottom: 15%;
}

main{
    .cont-h1{
        h1{
            color: black;
            width: 80%;
            font-size: 2.5em;
        }
    }
    .busqueda{
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: rgb(47, 78, 99);
        form{
            width: 80%;
            height: auto;
            border-radius: 10px;
            padding: 10px;
           
            .bg-dropdown{
                color:white;
                width: 35%;
                background-color: rgb(112, 179, 243);
            }
           
            .text-form{
                color: rgb(248, 248, 68);
            }
        }
    }
    .bg-btn{
        color:white;
        width: 35%;
        background-color: rgb(112, 179, 243);
        margin-bottom: 5px;
    }

    .render-Productos{
        width: 100%;
        height: auto;
    }
   
    .bg-card{
        border-radius: 5px;
       
    }
    section{
        article{
            .css-infoViaje{
                background-color: black;
                border-radius: 5px;
            }
            .bg-paqueteFiltrado{
                
                width: 100%;
                padding: 20px;
                .css-card{
                    padding: 5px;
                    &:hover{
                        transform: scale(1.08);
                        transition: all 1s;
                        cursor: pointer;
                        margin: 20px;
                        box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.5)
                    }
                    img{
                        border-top-left-radius: 6px;
                        border-top-right-radius: 6px;
                        height: 100%;
                        border: solid 1px black;
                        object-fit: contain;
                    }
                    .bg-btn{
                        color:white;
                        width: 50%;
                        background-color: rgb(112, 179, 243);
                        margin-bottom: 5px;
                    }
                }
            }
           
        }
    }
    .btn-contratar{
        background-color:  rgb(243, 130, 130);
        &:hover{
            background-color: black;
            color: rgb(243, 130, 130);
            border: solid 1px white;
            transform:scale(1.1);
            transition: 1s;
        }
    }
    .bg-viajeElegido{
        background-color: rgb(253, 191, 191);
        border-radius: 5px;
       
        p{
            color: black;
            border: solid 2px black;
        }   
    }
    .cont-Viaje{
       
        form{
            width: 80%;
            background-color: black;
            border-radius: 5px;
            .text-color{
                color: rgb(243, 130, 130);
            }
            .edad{
                p{
                    background-color: white;
                    color: black;
                    font-size: 1em;
                }
            }
        }
    }

    .contenedorBoleto{
        
        
        .bg-boleto{
            background-color: black;
            border: solid 4px black;
            .borde-superior{
               
                h3{
                    color: white;
                }
                .text-p{
                    color: white;
                }
            }
            .borde-slogan{
                background-color: rgb(243, 130, 130);
                color: black;
                font-size: 1em;
            }
            .contenedorDatos{
                border: solid 2px white;
                .datos-pasajeros{
                    
                    ul{
                        li{
                            list-style: none;
                            color: white;
                        }
                    }
                }
                .css-white{
                    color: white;
                }
            }
           
        }
        
        
    }
    
}

footer{
    width: 100%;
    height: 100%;
    background-color: rgb(248, 248, 68);
    display: flex;
    flex-direction: column;
    .pos-svg{
        display: flex;
        
        .container-wrap{
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
            width: 100%;
            svg{
                width: 50px;
                height: 50px;
                margin-top: 10px;
            }
            .svg-fb{
                color:black;
                padding: 8px 8px;
                
                &:hover{
                    color: white;
                }
            }
            .svg-insta{
                color:black;
                padding: 8px 8px;
                &:hover{
                    color: white;
                }
            }
            .svg-twitter{
                padding: 8px 8px;
                color:black;
                &:hover{
                    color: white;
                }
            }
            .css-text{
                display: flex;
                font-size: 1.2em;
                color:black;
            }
        }
    }
    
}



