.navegador{
    padding: 0;
    margin-bottom: 15%;
    .container-fluid{
        background-color:  black;
        .contenedor-nav{
            display: flex;
            align-items: center;
            background-color:  black;
            img{
                width: 30%;
                height: 30%;                
            }
            .bg-css{
                background-color:  black;
                button{
                    background-color: white;
                }
            }
            h5{
                p{
                    color: rgb(248, 151, 151);
                    text-align: center;
                }
            }
            .bord{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border: solid 10px black;
                .cont{
                    .btn{
                        color: rgb(248, 151, 151);
                        svg{
                            height: auto;
                        }
                    }
                    a{
                        img{
                            width: 27%;
                            height: auto;
                            border-radius: 10px;
                            border-color:  black;
                        }
                    }
                }
            }
            .gian{
                height: auto;
                width: 100;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                .contactanos{
                    background-color: black ;
                    color:rgb(248, 151, 151);
                    border-radius:  5px;
                    width: 100%;
                }
                .container-svg{
                    margin-top: 50px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
        
                    .color-insta{
                        color: violet;
                    }
                    .color-wsp{
                        color: rgb(88, 250, 102);
                    }
                    .color-fb{
                        color: rgb(27, 24, 216);
                    }
                }
            }
        }
    }
}