.navegador{
    padding: 0;
    margin-bottom: 15%;
    .container-fluid{
        background-color:  rgb(243, 130, 130);
        .contenedor-nav{
            display: flex;
            align-items: center;
            background-color: rgb(243, 130, 130);
            .bord{
                border: solid 10px rgb(243, 130, 130);
            }
            h5{
                p{
                    color: white;
                    text-align: center;
                }
            }
            .btn{
                  
                svg{
                    height: auto;
                }
            }
            a{
                img{
                    width: 27%;
                    height: auto;
                    border-radius: 10px;
                    border-color:  black;
                }
            }
            .bg-css{
                background-color: rgb(243, 130, 130);
            }
        }
    }
}